.cardviaje {
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave gris */
    overflow: hidden; /* Asegura que el contenido no se desborde */
    display: flex;
    flex-direction: column; 
   
}

.cardviaje img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: 200px; /* Establece una altura fija para todas las imágenes */
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsión */
    border-top-left-radius: 10px; /* Redondear la parte superior de la imagen */
    border-top-right-radius: 10px; /* Redondear la parte superior de la imagen */
}

.card-link {
    color: #0DBCAD; 
    text-decoration: underline; 
}

.cardviaje .card-body .card-title {
    font-size: normal; /* Tamaño fijo del título */
    margin-bottom: 10px; /* Espacio debajo del título */
    flex: 0 0 auto; /* Evita que el título crezca o se encoja */
  }

.card-title {
    height: 20%;
    padding-bottom: 4rem;
}

.card-text {
    height: 40%;
}

.card-body {
    height: 15rem;
}

.linkdestino {
    height: 3rem;
    display: flex;
    justify-content: flex-end;
    padding: 0 1rem; /* Asegura que el enlace esté centrado a la derecha */
    margin-top: 10px;
    
}