.formulario {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 0px;
  margin: 0px;
  
}

.destino,
.inicio {
  display: flex;
  flex-direction: row;
  width: 6rem;
}

.button {
  align-self: flex-start;
  width: auto;
  height: auto;
  background: #0dbcad;
  border-radius: 10px;
  margin: auto;
}

.buttonicon {
    width: 15px;
  height: 15px;
  display: flex;
 

}



.react-datepicker-wrapper .form-control,
.react-datepicker__input-container input.form-control {
  background-color: transparent !important;
  border: none !important;
  color: white !important;
}

.form-control::placeholder {
    font-size: 12px !important;
  color: white !important;
}


